$invalid: #fae1e1;
$invalidBorder: #e76a6a;
$invalidBorderHov: darken($invalidBorder, 20%);
$invalidText: #e65252;
$valid: #d6fad5;
$validBorder: darken($valid, 20%);
$validBorderHov: darken($validBorder, 20%);

html {
    font-size: 16px !important;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
    body {
        background: rgb(245, 245, 245);
    }
    #myform {
        max-width: 39em;
        padding: 2em 5em;
        margin: 0 auto;
        background: #fff;
        box-shadow: 0 5px 5px rgb(204, 204, 204);
        @media screen and (max-width: 40em){
            max-width: 100%;
            padding: 1em;
        }
    }
    label {
        float: left;
    }
    small.error {
        display: none;
        color: #fff;
        background: $invalidBorder;
        padding: 0.3em 1em;
        font-style: italic;
        margin-top: -1rem;
        clear: both;
    }
    fieldset {
        margin-bottom: 2em;
    }
    input[type="number"]{
       &::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
       }
        -webkit-appearance: textfield !important;
        -moz-appearance: textfield !important;
        appearance: textfield !important;
    }
.empty-message {
    display: none;
}
.invalid-empty {
    .empty-message {
        display: block;
    }
}
input.dirty[data-invalid],
select.dirty[data-invalid] {
    border-color: $invalidBorder;
    &:hover {
        border-color: $invalidBorderHov;
    }
    ~ small.error {
        display: block;
    }
}

form[data-handle-empty="true"] {
    input.pristine[data-invalid],
    select.pristine[data-invalid] {
        border-color: $invalidBorder;
        &:hover {
            border-color: $invalidBorderHov;
        }
        ~ small.error {
            display: block;
        }
    }
}

input[data-valid],
select[data-valid] {
    border-color: $validBorder;
    background: lighten($validBorder, 20%);
    &:hover {
        border-color: $validBorderHov;
    }
    &:focus {
        border-color: $validBorder;
        box-shadow: 0 0 5px lighten($validBorder, 20%);
    }
}

select {
    &[data-type="date-select"] {
        margin-bottom: 0;
    }
    + .block {
        padding-top: 0.5rem;
        text-align: center;
        font-size: 1.4em;
    }
}
